
$base-color: #393939;
$base-color-darker: #2f6b71;
$secondary-color: #928478;
$secondary-color-darker: #b37b4b;
$darker-grey: #717171;
$medium-grey: #959595;
$light-grey: #b6b6b6;
$lighter-grey: #dbdbdb;
$very-light-grey: #f9f9f9;
$white: #ffffff;
$black: #000000;

body {
  font-size: 14px;
  font-family: "Mulish";
  font-weight: 600;
  line-height: 27px;
	// max-width: 856px;
	margin: 0 auto;
}

.editor-styles-wrapper .has-text-align-center {
  text-align: center;
}

.editor-styles-wrapper .has-text-align-right {
	text-align: right;
}


.editor-styles-wrapper .has-text-align-left {
	text-align: left;
}

.editor-styles-wrapper .has-background {
	margin: 30px 0;
  padding: 20px !important;
}

.editor-styles-wrapper .has-small-font-size {
	line-height: 2;
	margin: 15px 0;
}

.editor-styles-wrapper .has-normal-font-size {
	line-height: 2;
	margin: 10px 0;
}

.editor-styles-wrapper .has-medium-font-size {
	line-height: 1.4;
	margin: 30px 0;
}

.editor-styles-wrapper .has-large-font-size {
	line-height: 1.4;
	margin: 30px 0;
}

.editor-styles-wrapper .has-huge-font-size {
	line-height: 1.4;
	margin: 30px 0;
}

.editor-styles-wrapper p {
  font-size: 16px;
  margin-top: 10px 0;
	line-height: 2;
}

.editor-styles-wrapper p.has-drop-cap.has-medium-font-size {
	&:first-letter {
		font-size:4.0em;
		line-height:1;
		font-weight:900;
		margin: 0 10px 0 0;
	}
}

.editor-styles-wrapper p.has-drop-cap.has-large-font-size {
	&:first-letter {
		font-size:6.0em;
		line-height:0.85;
		font-weight:900;
		margin: 0 10px 0 0;
	}
}

.editor-styles-wrapper p.has-drop-cap.has-huge-font-size {
	&:first-letter {
		font-size:6.0em;
		line-height:0.9;
		font-weight:900;
		margin: 0 10px 0 0;
	}
}

.editor-styles-wrapper p.has-drop-cap:not(:focus) {
  &:first-letter {
     float:left;
     text-transform:uppercase;
     font-style:normal;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
    padding-top: 14px;
  }
}


.block-editor-block-list__layout {
  max-width: 856px;
  margin: 0 auto !important;
}


/* Main column width */
.editor-styles-wrapper .wp-block {
  figure {
    margin-top: 35px;
    margin-bottom: 35px;
  }
    max-width: 856px;
		margin: 0 0 20px 0;
}

/* Width of "wide" blocks */
.editor-styles-wrapper .wp-block[data-align='wide'] {
	// max-width: 856px;
	// margin: 0 auto;
}

/* Width of "full-wide" blocks */
.editor-styles-wrapper .wp-block[data-align='full'] {
	// max-width: 856px;
	// margin: 0 auto;
}

.editor-styles-wrapper .wp-block[data-align='left'] {
 img {
   margin: 10px 30px 30px 0 !important;
 }

 .wp-block-button {
   margin: 10px 30px 30px 0 !important;
 }
 div[data-type='core/cover'] {
   margin: 10px 30px 30px 0 !important;
 }
}

.editor-styles-wrapper .wp-block[data-align='right'] {
  img {
    margin: 10px 0 30px 30px !important;
  }

  .wp-block-button {
    margin: 10px 0 30px 30px !important;
  }

  div[data-type='core/cover'] {
    margin: 10px 0 30px 30px !important;
  }
}

.editor-styles-wrapper .wp-block-button {
	margin: 30px 0;
	&__link {
		line-height: 18px;
		font-size: 14px;
		border-radius: 0;
		padding: 15px 20px;
	}
}


.editor-styles-wrapper .wp-block-image {
	figcaption {
		color: $medium-grey;
		font-weight: 400;
		margin-top: 5px;
	}
}


.editor-styles-wrapper .wp-block-pullquote {
	margin: 35px auto !important;
	border-width: 3px;
    border-bottom-style: solid;
    border-top-style: solid;
}

.editor-styles-wrapper .wp-block-cover {
	margin: 30px 0;
}

.editor-styles-wrapper blockquote, .editor-styles-wrapper blockquote.wp-block-quote {
	margin: 0 auto;
	position:relative;
	font-style: italic;
  .block-editor-rich-text__editable {
    margin: 10px 0;
  }
	&:not(.has-text-align-right) {
			text-align: center;
			cite {
				text-align: center;
			}
	}
	cite {
		position: relative;
    display: inline-block !important;
		&:before {
			position: absolute;
			top: 0;
			width: 30px;
			height: 1px;
			background: #6c757d;
			content: '';
			bottom: 0;
			margin: 12px 0 13px -40px;
		}
		&:after {
      position: absolute;
    top: 0;
    width: 30px;
    height: 1px;
    background: #6c757d;
    content: "";
    bottom: 0;
    right: 0;
    margin: 12px -40px 13px 0px;
		}
	}

  &.has-text-align-right {
		cite {
			&:after {
				content: none;
			}
		}
	}


	&:before {
		font-family: "Font Awesome 5 Free";
		content: "\f10d" !important;
		font-size: 30px;
		font-style: normal;
		color: $base-color;
		top: 0;
		left: 0;
	}
	&.is-style-large {
		margin: 35px auto;
		cite {
			position: relative;
			&:before, &:after {
				content: none;
			}
		}
	}
}
