@charset "UTF-8";
body {
  font-size: 14px;
  font-family: "Mulish";
  font-weight: 600;
  line-height: 27px;
  margin: 0 auto;
}

.editor-styles-wrapper .has-text-align-center {
  text-align: center;
}

.editor-styles-wrapper .has-text-align-right {
  text-align: right;
}

.editor-styles-wrapper .has-text-align-left {
  text-align: left;
}

.editor-styles-wrapper .has-background {
  margin: 30px 0;
  padding: 20px !important;
}

.editor-styles-wrapper .has-small-font-size {
  line-height: 2;
  margin: 15px 0;
}

.editor-styles-wrapper .has-normal-font-size {
  line-height: 2;
  margin: 10px 0;
}

.editor-styles-wrapper .has-medium-font-size {
  line-height: 1.4;
  margin: 30px 0;
}

.editor-styles-wrapper .has-large-font-size {
  line-height: 1.4;
  margin: 30px 0;
}

.editor-styles-wrapper .has-huge-font-size {
  line-height: 1.4;
  margin: 30px 0;
}

.editor-styles-wrapper p {
  font-size: 16px;
  margin-top: 10px 0;
  line-height: 2;
}

.editor-styles-wrapper p.has-drop-cap.has-medium-font-size:first-letter {
  font-size: 4em;
  line-height: 1;
  font-weight: 900;
  margin: 0 10px 0 0;
}

.editor-styles-wrapper p.has-drop-cap.has-large-font-size:first-letter {
  font-size: 6em;
  line-height: 0.85;
  font-weight: 900;
  margin: 0 10px 0 0;
}

.editor-styles-wrapper p.has-drop-cap.has-huge-font-size:first-letter {
  font-size: 6em;
  line-height: 0.9;
  font-weight: 900;
  margin: 0 10px 0 0;
}

.editor-styles-wrapper p.has-drop-cap:not(:focus):first-letter {
  float: left;
  text-transform: uppercase;
  font-style: normal;
}
.editor-styles-wrapper p.has-drop-cap:not(:focus):after {
  content: "";
  display: table;
  clear: both;
  padding-top: 14px;
}

.block-editor-block-list__layout {
  max-width: 856px;
  margin: 0 auto !important;
}

/* Main column width */
.editor-styles-wrapper .wp-block {
  max-width: 856px;
  margin: 0 0 20px 0;
}
.editor-styles-wrapper .wp-block figure {
  margin-top: 35px;
  margin-bottom: 35px;
}

/* Width of "wide" blocks */
/* Width of "full-wide" blocks */
.editor-styles-wrapper .wp-block[data-align=left] img {
  margin: 10px 30px 30px 0 !important;
}
.editor-styles-wrapper .wp-block[data-align=left] .wp-block-button {
  margin: 10px 30px 30px 0 !important;
}
.editor-styles-wrapper .wp-block[data-align=left] div[data-type="core/cover"] {
  margin: 10px 30px 30px 0 !important;
}

.editor-styles-wrapper .wp-block[data-align=right] img {
  margin: 10px 0 30px 30px !important;
}
.editor-styles-wrapper .wp-block[data-align=right] .wp-block-button {
  margin: 10px 0 30px 30px !important;
}
.editor-styles-wrapper .wp-block[data-align=right] div[data-type="core/cover"] {
  margin: 10px 0 30px 30px !important;
}

.editor-styles-wrapper .wp-block-button {
  margin: 30px 0;
}
.editor-styles-wrapper .wp-block-button__link {
  line-height: 18px;
  font-size: 14px;
  border-radius: 0;
  padding: 15px 20px;
}

.editor-styles-wrapper .wp-block-image figcaption {
  color: #959595;
  font-weight: 400;
  margin-top: 5px;
}

.editor-styles-wrapper .wp-block-pullquote {
  margin: 35px auto !important;
  border-width: 3px;
  border-bottom-style: solid;
  border-top-style: solid;
}

.editor-styles-wrapper .wp-block-cover {
  margin: 30px 0;
}

.editor-styles-wrapper blockquote, .editor-styles-wrapper blockquote.wp-block-quote {
  margin: 0 auto;
  position: relative;
  font-style: italic;
}
.editor-styles-wrapper blockquote .block-editor-rich-text__editable, .editor-styles-wrapper blockquote.wp-block-quote .block-editor-rich-text__editable {
  margin: 10px 0;
}
.editor-styles-wrapper blockquote:not(.has-text-align-right), .editor-styles-wrapper blockquote.wp-block-quote:not(.has-text-align-right) {
  text-align: center;
}
.editor-styles-wrapper blockquote:not(.has-text-align-right) cite, .editor-styles-wrapper blockquote.wp-block-quote:not(.has-text-align-right) cite {
  text-align: center;
}
.editor-styles-wrapper blockquote cite, .editor-styles-wrapper blockquote.wp-block-quote cite {
  position: relative;
  display: inline-block !important;
}
.editor-styles-wrapper blockquote cite:before, .editor-styles-wrapper blockquote.wp-block-quote cite:before {
  position: absolute;
  top: 0;
  width: 30px;
  height: 1px;
  background: #6c757d;
  content: "";
  bottom: 0;
  margin: 12px 0 13px -40px;
}
.editor-styles-wrapper blockquote cite:after, .editor-styles-wrapper blockquote.wp-block-quote cite:after {
  position: absolute;
  top: 0;
  width: 30px;
  height: 1px;
  background: #6c757d;
  content: "";
  bottom: 0;
  right: 0;
  margin: 12px -40px 13px 0px;
}
.editor-styles-wrapper blockquote.has-text-align-right cite:after, .editor-styles-wrapper blockquote.wp-block-quote.has-text-align-right cite:after {
  content: none;
}
.editor-styles-wrapper blockquote:before, .editor-styles-wrapper blockquote.wp-block-quote:before {
  font-family: "Font Awesome 5 Free";
  content: "" !important;
  font-size: 30px;
  font-style: normal;
  color: #393939;
  top: 0;
  left: 0;
}
.editor-styles-wrapper blockquote.is-style-large, .editor-styles-wrapper blockquote.wp-block-quote.is-style-large {
  margin: 35px auto;
}
.editor-styles-wrapper blockquote.is-style-large cite, .editor-styles-wrapper blockquote.wp-block-quote.is-style-large cite {
  position: relative;
}
.editor-styles-wrapper blockquote.is-style-large cite:before, .editor-styles-wrapper blockquote.is-style-large cite:after, .editor-styles-wrapper blockquote.wp-block-quote.is-style-large cite:before, .editor-styles-wrapper blockquote.wp-block-quote.is-style-large cite:after {
  content: none;
}

/*# sourceMappingURL=editor-style.css.map */
