@charset "UTF-8";
/* ------------------------------- Margins and paddings  ---------------------------------------*/
body {
  font-size: 16px;
  font-family: "Mulish";
  font-weight: 600;
  line-height: 27px;
  margin: 0 auto;
}

.editor-styles-wrapper .wp-block-categories,
.editor-styles-wrapper .wp-block-code,
.editor-styles-wrapper .wp-block-calendar,
.editor-styles-wrapper .wp-block-tag-cloud:not(.alignleft):not(.alignright),
.editor-styles-wrapper .wp-block-gallery:not(.alignleft):not(.alignright),
.editor-styles-wrapper .wp-block-columns,
.editor-styles-wrapper .wp-block-button:not(.alignleft):not(.alignright),
.editor-styles-wrapper .wp-block-cover:not(.alignleft):not(.alignright),
.editor-styles-wrapper .wp-block-embed:not(.alignleft):not(.alignright),
.editor-styles-wrapper .wp-block-gallery:not(.alignleft):not(.alignright),
.editor-styles-wrapper .wp-block-group:not(.alignleft):not(.alignright),
.editor-styles-wrapper .wp-block-image:not([data-align=left]):not([data-align=right]),
.editor-styles-wrapper .wp-block-site-logo:not(.alignleft):not(.alignright),
.editor-styles-wrapper .wp-block-latest-comments:not(.alignleft):not(.alignright),
.editor-styles-wrapper .wp-block-latest-posts:not(.alignleft):not(.alignright),
.editor-styles-wrapper .wp-block-loginout,
.editor-styles-wrapper .wp-block-media-text,
.editor-styles-wrapper .wp-block-page-list:not(.alignleft):not(.alignright),
.editor-styles-wrapper .wp-block-preformatted:not(.alignleft):not(.alignright),
.editor-styles-wrapper .wp-block-pullquote:not(.alignleft):not(.alignright),
.editor-styles-wrapper .wp-block-quote,
.editor-styles-wrapper .wp-block-table,
.editor-styles-wrapper .wp-block-quote.is-large,
.editor-styles-wrapper .wp-block-quote.is-style-large,
.editor-styles-wrapper .wp-block-rss:not(.alignleft):not(.alignright),
.editor-styles-wrapper .wp-block-search__button-outside,
.editor-styles-wrapper .wp-block-verse,
.editor-styles-wrapper .wp-block-video,
.editor-styles-wrapper .wp-caption:not(.alignleft):not(.alignright) {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.editor-styles-wrapper .wp-block:not(p) {
  margin: 0;
}

.editor-styles-wrapper .wp-block[data-align=left] .wp-block-image {
  margin: 10px 30px 30px 0 !important;
}

.editor-styles-wrapper .wp-block[data-align=right] .wp-block-image {
  margin: 10px 0 30px 30px !important;
}

.editor-styles-wrapper .alignright, .editor-styles-wrapper .wp-block-image .alignright, .editor-styles-wrapper .wp-block-button .alignright {
  float: right;
  clear: right;
  margin: 10px 0 30px 30px;
}

.editor-styles-wrapper .alignleft, .editor-styles-wrapper .wp-block-image .alignleft, .editor-styles-wrapper .wp-block-button .alignleft {
  float: left;
  clear: left;
  margin: 10px 30px 30px 0;
}

.editor-styles-wrapper [class^=wp-block]:not(.alignleft):not(.alignright) {
  clear: both;
}

.editor-styles-wrapper a {
  color: #b37b4b !important;
}

.editor-styles-wrapper .has-text-align-center {
  text-align: center;
}

.editor-styles-wrapper .has-text-align-right {
  text-align: right;
}

.editor-styles-wrapper .has-text-align-left {
  text-align: left;
}

.editor-styles-wrapper .has-background {
  margin: 30px 0;
  padding: 20px !important;
}

.editor-styles-wrapper .has-small-font-size {
  line-height: 2;
  margin: 15px 0;
}

.editor-styles-wrapper .has-normal-font-size {
  line-height: 2;
  margin: 10px 0;
}

.editor-styles-wrapper .has-medium-font-size {
  line-height: 1.4;
  margin: 30px 0;
}

.editor-styles-wrapper .has-large-font-size {
  line-height: 1.4;
  margin: 30px 0;
}

.editor-styles-wrapper .has-huge-font-size {
  line-height: 1.4;
  margin: 30px 0;
}

.editor-styles-wrapper p {
  font-size: 1rem;
  margin-top: 10px 0;
  line-height: 2;
}

.editor-styles-wrapper p.has-drop-cap.has-medium-font-size:first-letter {
  font-size: 4em;
  line-height: 1;
  font-weight: 900;
  margin: 0 10px 0 0;
}

.editor-styles-wrapper p.has-drop-cap.has-large-font-size:first-letter {
  font-size: 6em;
  line-height: 0.85;
  font-weight: 900;
  margin: 0 10px 0 0;
}

.editor-styles-wrapper p.has-drop-cap.has-huge-font-size:first-letter {
  font-size: 6em;
  line-height: 0.9;
  font-weight: 900;
  margin: 0 10px 0 0;
}

.editor-styles-wrapper p.has-drop-cap:not(:focus):first-letter {
  float: left;
  text-transform: uppercase;
  font-style: normal;
}
.editor-styles-wrapper p.has-drop-cap:not(:focus):after {
  content: "";
  display: table;
  clear: both;
  padding-top: 14px;
}

.wp-block.editor-post-title, .editor-post-title__input {
  min-height: 70px;
}

.wp-block.editor-post-title, .block-editor-block-list__layout {
  max-width: 856px;
  margin: 0 auto !important;
}

/* Main column width */
.editor-styles-wrapper .wp-block {
  max-width: 856px;
}
.editor-styles-wrapper .wp-block figure {
  margin-top: 35px;
  margin-bottom: 35px;
}

/* Width of "wide" blocks */
.editor-styles-wrapper .wp-block[data-align=right] div[data-type="core/cover"] {
  margin: 10px 0 30px 30px !important;
}

.editor-styles-wrapper .wp-block-button__link {
  line-height: 18px;
  font-size: 0.875rem;
  border-radius: 0;
  padding: 15px 20px;
}

.editor-styles-wrapper .wp-block-image figcaption {
  color: #959595;
  font-weight: 400;
  margin-top: 5px;
}

.editor-styles-wrapper .wp-block-pullquote {
  margin: 35px auto !important;
  border-width: 3px;
  border-bottom-style: solid;
  border-top-style: solid;
  padding: 40px 20px !important;
}
.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color {
  border: none;
}

.editor-styles-wrapper .wp-block-cover {
  margin: 30px 0;
}

.editor-styles-wrapper blockquote, .editor-styles-wrapper blockquote.wp-block-quote {
  margin: 2rem 0;
  position: relative;
  font-style: italic;
  border-left: none !important;
}
.editor-styles-wrapper blockquote p strong em a, .editor-styles-wrapper blockquote.wp-block-quote p strong em a {
  color: #393939;
}
.editor-styles-wrapper blockquote .block-editor-rich-text__editable, .editor-styles-wrapper blockquote.wp-block-quote .block-editor-rich-text__editable {
  margin: 10px 0;
}
.editor-styles-wrapper blockquote:not(.has-text-align-right), .editor-styles-wrapper blockquote.wp-block-quote:not(.has-text-align-right) {
  text-align: center;
}
.editor-styles-wrapper blockquote:not(.has-text-align-right) cite, .editor-styles-wrapper blockquote.wp-block-quote:not(.has-text-align-right) cite {
  text-align: center;
}
.editor-styles-wrapper blockquote cite, .editor-styles-wrapper blockquote.wp-block-quote cite {
  position: relative;
  display: inline-block !important;
}
.editor-styles-wrapper blockquote cite:before, .editor-styles-wrapper blockquote.wp-block-quote cite:before {
  position: absolute;
  top: 0;
  width: 30px;
  height: 1px;
  background: #6c757d;
  content: "";
  bottom: 0;
  margin: 12px 0 13px -40px;
}
.editor-styles-wrapper blockquote cite:after, .editor-styles-wrapper blockquote.wp-block-quote cite:after {
  position: absolute;
  top: 0;
  width: 30px;
  height: 1px;
  background: #6c757d;
  content: "";
  bottom: 0;
  right: 0;
  margin: 12px -40px 13px 0px;
}
.editor-styles-wrapper blockquote.has-text-align-right cite:after, .editor-styles-wrapper blockquote.wp-block-quote.has-text-align-right cite:after {
  content: none;
}
.editor-styles-wrapper blockquote:before, .editor-styles-wrapper blockquote.wp-block-quote:before {
  font-family: "Font Awesome 5 Free";
  content: "" !important;
  font-size: 1.875rem;
  font-style: normal;
  color: #393939;
  top: 0;
  left: 0;
}
.editor-styles-wrapper blockquote.is-style-large, .editor-styles-wrapper blockquote.wp-block-quote.is-style-large {
  margin: 35px auto;
}
.editor-styles-wrapper blockquote.is-style-large cite, .editor-styles-wrapper blockquote.wp-block-quote.is-style-large cite {
  position: relative;
}
.editor-styles-wrapper blockquote.is-style-large cite:before, .editor-styles-wrapper blockquote.is-style-large cite:after, .editor-styles-wrapper blockquote.wp-block-quote.is-style-large cite:before, .editor-styles-wrapper blockquote.wp-block-quote.is-style-large cite:after {
  content: none;
}

.editor-styles-wrapper hr.wp-block-separator {
  width: 30%;
  height: 1px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  background: #393939;
}
.editor-styles-wrapper hr.wp-block-separator.is-style-wide {
  width: 80%;
}
.editor-styles-wrapper hr.wp-block-separator.is-style-dots:before {
  font-size: 2.25rem;
}

.editor-styles-wrapper .blocks-gallery-grid .blocks-gallery-image figcaption, .editor-styles-wrapper .blocks-gallery-grid .blocks-gallery-item figcaption, .editor-styles-wrapper .wp-block-gallery .blocks-gallery-image figcaption, .editor-styles-wrapper .wp-block-gallery .blocks-gallery-item figcaption {
  bottom: 35px;
}

.editor-styles-wrapper .block-editor-rich-text__editable.block-editor-block-list__block.wp-block-verse.rich-text {
  font-size: 1rem;
  line-height: 2;
}

.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce .gallery-item .wp-caption-text {
  color: #959595;
  font-weight: 400;
  text-align: left;
}

.editor-styles-wrapper .wp-caption-dd {
  color: #959595;
  font-weight: 400;
  text-align: left;
}

.editor-styles-wrapper .wp-block-archives ul {
  padding: 0;
  list-style-type: none;
}

.editor-styles-wrapper .wp-block-calendar {
  margin-bottom: 30px;
  margin-top: 70px;
}
.editor-styles-wrapper .wp-block-calendar .wp-calendar-table {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}
.editor-styles-wrapper .wp-block-calendar .wp-calendar-table a {
  text-decoration: none;
}
.editor-styles-wrapper .wp-block-calendar .wp-calendar-table caption {
  color: #ffffff !important;
  font-size: 1rem;
  position: absolute;
  top: -50px;
  background: #b37b4b;
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
}
.editor-styles-wrapper .wp-block-calendar .wp-calendar-table thead {
  font-size: 0.875rem;
}
.editor-styles-wrapper .wp-block-calendar .wp-calendar-table thead th {
  padding: 10px 0;
}
.editor-styles-wrapper .wp-block-calendar .wp-calendar-table tbody {
  color: #aaa;
}
.editor-styles-wrapper .wp-block-calendar .wp-calendar-table tbody td {
  background: #f5f5f5;
  outline: 1px solid #d8d8d8;
  text-align: center;
  padding: 8px;
  position: relative;
}
.editor-styles-wrapper .wp-block-calendar .wp-calendar-table tbody td:hover {
  background: #fff;
}
.editor-styles-wrapper .wp-block-calendar .wp-calendar-table tbody td .pad {
  background: none;
}
.editor-styles-wrapper .wp-block-calendar .wp-calendar-table tbody td a {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #928478;
  top: 0;
  left: 0;
  line-height: 42px;
  color: #ffffff !important;
  opacity: 0.7;
}
.editor-styles-wrapper .wp-block-calendar .wp-calendar-table tfoot #next {
  font-size: 0.625rem;
  text-transform: uppercase;
  text-align: right;
}
.editor-styles-wrapper .wp-block-calendar .wp-calendar-table tfoot #prev {
  font-size: 0.625rem;
  text-transform: uppercase;
  padding-top: 10px;
}
.editor-styles-wrapper .wp-block-calendar .wp-calendar-nav a {
  font-size: 1rem;
  text-decoration: none;
}

.editor-styles-wrapper .wp-block-latest-comments__comment-excerpt p {
  font-size: 0.875rem;
}

.editor-styles-wrapper .wp-block-tag-cloud {
  line-height: 30px;
}

.editor-styles-wrapper address {
  font-weight: 500;
  font-style: normal;
  line-height: 25px !important;
}

/*# sourceMappingURL=editor-style.css.map */
