
$base-color: #393939;
$base-color-darker: #2f6b71;
$secondary-color: #928478;
$secondary-color-darker: #b37b4b;
$darker-grey: #717171;
$medium-grey: #959595;
$light-grey: #b6b6b6;
$lighter-grey: #dbdbdb;
$very-light-grey: #f9f9f9;
$white: #ffffff;
$black: #000000;

body {
  font-size: 14px;
  font-family: "Mulish";
  font-weight: 600;
  line-height: 27px;
	margin: 0 auto;
}

.editor-styles-wrapper a {
  color: $secondary-color-darker !important;
}

.editor-styles-wrapper .has-text-align-center {
  text-align: center;
}

.editor-styles-wrapper .has-text-align-right {
	text-align: right;
}


.editor-styles-wrapper .has-text-align-left {
	text-align: left;
}

.editor-styles-wrapper .has-background {
	margin: 30px 0;
  padding: 20px !important;
}

.editor-styles-wrapper .has-small-font-size {
	line-height: 2;
	margin: 15px 0;
}

.editor-styles-wrapper .has-normal-font-size {
	line-height: 2;
	margin: 10px 0;
}

.editor-styles-wrapper .has-medium-font-size {
	line-height: 1.4;
	margin: 30px 0;
}

.editor-styles-wrapper .has-large-font-size {
	line-height: 1.4;
	margin: 30px 0;
}

.editor-styles-wrapper .has-huge-font-size {
	line-height: 1.4;
	margin: 30px 0;
}

.editor-styles-wrapper p {
  font-size: 16px;
  margin-top: 10px 0;
	line-height: 2;
}

.editor-styles-wrapper p.has-drop-cap.has-medium-font-size {
	&:first-letter {
		font-size:4.0em;
		line-height:1;
		font-weight:900;
		margin: 0 10px 0 0;
	}
}

.editor-styles-wrapper p.has-drop-cap.has-large-font-size {
	&:first-letter {
		font-size:6.0em;
		line-height:0.85;
		font-weight:900;
		margin: 0 10px 0 0;
	}
}

.editor-styles-wrapper p.has-drop-cap.has-huge-font-size {
	&:first-letter {
		font-size:6.0em;
		line-height:0.9;
		font-weight:900;
		margin: 0 10px 0 0;
	}
}

.editor-styles-wrapper p.has-drop-cap:not(:focus) {
  &:first-letter {
     float:left;
     text-transform:uppercase;
     font-style:normal;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
    padding-top: 14px;
  }
}
.wp-block.editor-post-title, .editor-post-title__input {
  min-height: 70px;
}
.wp-block.editor-post-title, .block-editor-block-list__layout {
  max-width: 856px;
  margin: 0 auto !important;
}


/* Main column width */
.editor-styles-wrapper .wp-block {
  figure {
    margin-top: 35px;
    margin-bottom: 35px;
  }
    max-width: 856px;
		margin: 0 0 20px 0;
}

/* Width of "wide" blocks */
.editor-styles-wrapper .wp-block[data-align='wide'] {
	// max-width: 856px;
	// margin: 0 auto;
}

/* Width of "full-wide" blocks */
.editor-styles-wrapper .wp-block[data-align='full'] {
	// max-width: 856px;
	// margin: 0 auto;
}

.editor-styles-wrapper .wp-block[data-align='left'] {
 img {
   margin: 10px 30px 30px 0 !important;
 }

 .wp-block-button {
   margin: 10px 30px 30px 0 !important;
 }
 div[data-type='core/cover'] {
   margin: 10px 30px 30px 0 !important;
 }
}

.editor-styles-wrapper .wp-block[data-align='right'] {
  img {
    margin: 10px 0 30px 30px !important;
  }

  .wp-block-button {
    margin: 10px 0 30px 30px !important;
  }

  div[data-type='core/cover'] {
    margin: 10px 0 30px 30px !important;
  }
}

.editor-styles-wrapper .wp-block-button {
	margin: 30px 0;
	&__link {
		line-height: 18px;
		font-size: 14px;
		border-radius: 0;
		padding: 15px 20px;
	}
}


.editor-styles-wrapper .wp-block-image {
	figcaption {
		color: $medium-grey;
		font-weight: 400;
		margin-top: 5px;
	}
}


.editor-styles-wrapper .wp-block-pullquote {
	margin: 35px auto !important;
	border-width: 3px;
    border-bottom-style: solid;
    border-top-style: solid;
  	padding: 40px 20px !important;
    &.is-style-solid-color {
      border: none;
    }
}

.editor-styles-wrapper .wp-block-cover {
	margin: 30px 0;
}

.editor-styles-wrapper blockquote, .editor-styles-wrapper blockquote.wp-block-quote {
	margin: 0 auto;
	position:relative;
	font-style: italic;
  border-left: none !important;
  p strong em a {
		color: $base-color;
	}
  .block-editor-rich-text__editable {
    margin: 10px 0;
  }
	&:not(.has-text-align-right) {
			text-align: center;
			cite {
				text-align: center;
			}
	}
	cite {
		position: relative;
    display: inline-block !important;
		&:before {
			position: absolute;
			top: 0;
			width: 30px;
			height: 1px;
			background: #6c757d;
			content: '';
			bottom: 0;
			margin: 12px 0 13px -40px;
		}
		&:after {
      position: absolute;
    top: 0;
    width: 30px;
    height: 1px;
    background: #6c757d;
    content: "";
    bottom: 0;
    right: 0;
    margin: 12px -40px 13px 0px;
		}
	}

  &.has-text-align-right {
		cite {
			&:after {
				content: none;
			}
		}
	}


	&:before {
		font-family: "Font Awesome 5 Free";
		content: "\f10d" !important;
		font-size: 30px;
		font-style: normal;
		color: $base-color;
		top: 0;
		left: 0;
	}
	&.is-style-large {
		margin: 35px auto;
		cite {
			position: relative;
			&:before, &:after {
				content: none;
			}
		}
	}
}


.editor-styles-wrapper hr.wp-block-separator {
	width: 30%;
	height: 1px;
  border: none;
	margin-left: auto;
	margin-right: auto;
  background: $base-color;
	&.is-style-wide {
		width: 80%;
	}
	&.is-style-dots {
		&:before {
			  font-size: 35px;
		}
	}
}


.editor-styles-wrapper .blocks-gallery-grid, .editor-styles-wrapper .wp-block-gallery {
  .blocks-gallery-image figcaption, .blocks-gallery-item figcaption {
    bottom: 35px;
  }
}

.editor-styles-wrapper .block-editor-rich-text__editable.block-editor-block-list__block.wp-block-verse.rich-text {
    font-size: 16px;
    line-height: 32px;
}

.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce .gallery-item {
  // max-width: 100%;
  // width: auto;
  .wp-caption-text {
    color: $medium-grey;
		font-weight: 400;
    text-align: left;
  }
}

.editor-styles-wrapper .wp-caption-dd {
  color: $medium-grey;
  font-weight: 400;
  text-align: left;
}

.editor-styles-wrapper .wp-block-archives {
  ul {
    padding: 0;
    list-style-type: none;
  }
}

.editor-styles-wrapper .wp-block-calendar {
	margin-bottom: 30px;
	margin-top: 70px;
	.wp-calendar-table {
		width: 100%;
		position: relative;
		margin-bottom: 10px;
		a {
			text-decoration: none;
		}
		caption {
			color: $white !important;
			font-size: 15px;
			position: absolute;
	    top: -50px;
	    background: $secondary-color-darker;
	    width: 100%;
	    text-align: center;
	    height: 50px;
	    line-height: 50px;
		}
		thead {
			font-size: 14px;
			th {
				padding: 10px 0;
			}
		}
		tbody {
			color: #aaa;
			 td {
				 background: #f5f5f5;
				 outline: 1px solid #d8d8d8;
				 text-align: center;
				 padding:8px;
				 position: relative;
				 &:hover {
					 background: #fff;
				 }
				 .pad {
					 background: none;
				 }
				 a {
					 position: absolute;
						width: 100%;
						height: 100%;
						background: $secondary-color;
						top: 0;
						left: 0;
						line-height: 42px;
						color: $white !important;
						opacity: 0.7;
				 }
			 }
		}
		tfoot {
			#next {
				font-size: 10px;
				text-transform: uppercase;
				text-align: right;
			}
			#prev {
				font-size: 10px;
				text-transform: uppercase;
				padding-top: 10px;
			}
		}
	}

	.wp-calendar-nav a {
		font-size: 16px;
		text-decoration: none;
	}
}

.editor-styles-wrapper .wp-block-latest-comments__comment-excerpt {
  p {
    font-size: 14px;
  }
}

.editor-styles-wrapper .wp-block-tag-cloud {
  line-height: 30px;
}

.editor-styles-wrapper  address {
  font-weight: 500;
  font-style: normal;
  line-height: 25px !important;
}
