

/* ---------------------------------- woocommerce ------------------------------------ */

.storezz-product-vertical {
	.woocommerce-product-gallery {
		position: relative;
		padding-left: 120px;
		.flex-control-thumbs {
			display: block !important;
			margin: 0 !important;
			padding-right: 20px;
			position: absolute;
			top: 0;
			left: 0;
			width: 120px;
			height: 100%;
			overflow: hidden;
			li {
				width: 100% !important;
				padding-top: 0;
				padding-bottom: 15px;
			}
		}
	}
}
