/* ------------------------------- Colours ---------------------------------------*/

$base-color: #393939;
$base-color-darker: #2f6b71;
$secondary-color: #e09d84;
$secondary-color-darker: #b37b4b;
$darker-grey: #717171;
$medium-grey: #959595;
$light-grey: #b6b6b6;
$lighter-grey: #dbdbdb;
$very-light-grey: #f3f3f3;
$white: #ffffff;
$black: #000000;


/* ------------------------------- Margins and paddings  ---------------------------------------*/

$margin-updown-big: 2rem 0;
$margin-updown-small: 1rem 0;

/* ------------------------------- Animations  ---------------------------------------*/
//
// @keyframes shake {
//   10%, 90% {
//     transform: translate3d(-1px, 0, 0);
//   }
//
//   20%, 80% {
//     transform: translate3d(2px, 0, 0);
//   }
//
//   30%, 50%, 70% {
//     transform: translate3d(-4px, 0, 0);
//   }
//
//   40%, 60% {
//     transform: translate3d(4px, 0, 0);
//   }
// }
// @keyframes shake {
//   10%, 90% {
//     transform: scale(1.05);
//   }
//
//   20%, 80% {
//     transform: rotate(0.95);
//   }
//
//   30%, 50%, 70% {
//     transform: rotate(1.1);
//   }
//
//   40%, 60% {
//     transform: rotate(0.9);
//   }
// }



/* ---------------------------------- woocommerce ------------------------------------ */

.storezz-product-vertical {
	.woocommerce-product-gallery {
		position: relative;
		padding-left: 120px;
		.flex-control-thumbs {
			display: block !important;
			margin: 0 !important;
			padding-right: 20px;
			position: absolute;
			top: 0;
			left: 0;
			width: 120px;
			height: 100%;
			overflow: hidden;
			li {
				width: 100% !important;
				padding-top: 0;
				padding-bottom: 15px;
			}
		}
	}
}


.widget_shopping_cart_content {
  // .woocommerce-mini-cart.cart_list.product_list_widget {
    li a:nt-child(2) {
      width: 50px;
      display: block;
      float: left;
    }
  // }
}

.woocommerce-mini-cart-item {
  text-align: right;
  position: relative;
  a:nth-of-type(2) {
    width: 100%;
    img {
      width: 80px;
      display: block;
      float: left;
    }
  }
  a.remove.remove_from_cart_button {
    position: absolute;
    right: 0;
  }
}

.woocommerce .woocommerce-breadcrumb {
  margin-left: calc( -50vw + 50% ) !important;
	margin-left: calc( -50vw + 50% ) !important;
	max-width: 100vw;
	width: 100vw;
	margin-bottom: 2rem;
	background-image: url( './images/breadcrumbs_bg.jpg' );
	background-size: cover;
	background-attachment: fixed;
  padding: 84px 0 !important;
  text-align: center;
  color: $base-color;
  a {
    color: $secondary-color-darker;
    margin: 0 5px;
  }
}

/* ------------------------------------ Products in Shop --------------------------------------------------- */


.woocommerce ul.products li.product {
  position: relative;
  overflow: visible;
  padding-bottom: 30px;
  .star-rating {
    color: $secondary-color;
    font-weight: 300;
  }
  .woocommerce-loop-product__link {
    overflow: hidden;
    img {
      margin: 0;
      transition: all 0.5s;
    }
    h2 {
      text-transform: uppercase;
      font-weight: 500;
      stext-align: left;
    }
  }
  .button {
      transform: translate(0, 30px);
      position: absolute;
      bottom: 0;
      opacity: 0;
      transition: all 0.5s;
      background: $base-color;
      color: $white;
      font-weight: 300;
      border-radius: 0;
  }
  span.price {
    transition: all 0.5s;
    font-weight: 700;
    font-size: 1rem;
    * {
      color: $base-color;
    }
  }
  .onsale {
    height: auto;
    min-height: auto;
    background: $secondary-color;
    border-radius: 0;
    line-height: 1;
    padding: 8px 13px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
  }
  &:hover {
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.51);
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.51);
    .button {
      opacity: 1;
      transform: translate(0, -20px);
    }
    span.price {
      transform: translate(0, -40px);
      opacity: 0;
    }
    img {
      opacity: 0.8;
      // transform: scale(1.05);
      // transform: rotate(7deg);
      // animation: shake 0.3s cubic-bezier(.36,.07,.19,.97) both;
    }
  }
}

.wc-block-components-review-list-item__rating>.wc-block-components-review-list-item__rating__stars span:before  {
  color: $secondary-color;
}

.wc-block-components-price-slider__range-input-progress {

}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -3px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  background-color: $secondary-color;
  z-index: 100;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fdfdda;
}
.wc-block-components-price-slider__range-input-progress {
  --range-color: #e09d84;
  height: 6px;
}

.wc-block-components-price-slider__range-input-wrapper {
  height: 6px;
  box-shadow: none;
}
