/* ------------------------------- Colours ---------------------------------------*/
/* ------------------------------- Margins and paddings  ---------------------------------------*/
/* ------------------------------- Animations  ---------------------------------------*/
/* ---------------------------------- woocommerce ------------------------------------ */
.storezz-product-vertical .woocommerce-product-gallery {
  position: relative;
  padding-left: 120px;
}
.storezz-product-vertical .woocommerce-product-gallery .flex-control-thumbs {
  display: block !important;
  margin: 0 !important;
  padding-right: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 100%;
  overflow: hidden;
}
.storezz-product-vertical .woocommerce-product-gallery .flex-control-thumbs li {
  width: 100% !important;
  padding-top: 0;
  padding-bottom: 15px;
}

.widget_shopping_cart_content li a:nt-child(2) {
  width: 50px;
  display: block;
  float: left;
}

.woocommerce-mini-cart-item {
  text-align: right;
  position: relative;
}
.woocommerce-mini-cart-item a:nth-of-type(2) {
  width: 100%;
}
.woocommerce-mini-cart-item a:nth-of-type(2) img {
  width: 80px;
  display: block;
  float: left;
}
.woocommerce-mini-cart-item a.remove.remove_from_cart_button {
  position: absolute;
  right: 0;
}

.woocommerce .woocommerce-breadcrumb {
  margin-left: calc( -50vw + 50% ) !important;
  margin-left: calc( -50vw + 50% ) !important;
  max-width: 100vw;
  width: 100vw;
  margin-bottom: 2rem;
  background-image: url("./images/breadcrumbs_bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 84px 0 !important;
  text-align: center;
  color: #393939;
}
.woocommerce .woocommerce-breadcrumb a {
  color: #b37b4b;
  margin: 0 5px;
}

/* ------------------------------------ Products in Shop --------------------------------------------------- */
.woocommerce ul.products li.product {
  position: relative;
  overflow: visible;
  padding-bottom: 30px;
}
.woocommerce ul.products li.product .star-rating {
  color: #e09d84;
  font-weight: 300;
}
.woocommerce ul.products li.product .woocommerce-loop-product__link {
  overflow: hidden;
}
.woocommerce ul.products li.product .woocommerce-loop-product__link img {
  margin: 0;
  transition: all 0.5s;
}
.woocommerce ul.products li.product .woocommerce-loop-product__link h2 {
  text-transform: uppercase;
  font-weight: 500;
  stext-align: left;
}
.woocommerce ul.products li.product .button {
  transform: translate(0, 30px);
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: all 0.5s;
  background: #393939;
  color: #ffffff;
  font-weight: 300;
  border-radius: 0;
}
.woocommerce ul.products li.product span.price {
  transition: all 0.5s;
  font-weight: 700;
  font-size: 1rem;
}
.woocommerce ul.products li.product span.price * {
  color: #393939;
}
.woocommerce ul.products li.product .onsale {
  height: auto;
  min-height: auto;
  background: #e09d84;
  border-radius: 0;
  line-height: 1;
  padding: 8px 13px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
.woocommerce ul.products li.product:hover .button {
  opacity: 1;
  transform: translate(0, -20px);
}
.woocommerce ul.products li.product:hover span.price {
  transform: translate(0, -40px);
  opacity: 0;
}
.woocommerce ul.products li.product:hover img {
  opacity: 0.8;
}

.wc-block-components-review-list-item__rating > .wc-block-components-review-list-item__rating__stars span:before {
  color: #e09d84;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -3px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  background-color: #e09d84;
  z-index: 100;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fdfdda;
}

.wc-block-components-price-slider__range-input-progress {
  --range-color: #e09d84;
  height: 6px;
}

.wc-block-components-price-slider__range-input-wrapper {
  height: 6px;
  box-shadow: none;
}

.wc-block-product-categories-list--has-images .wc-block-product-categories-list-item {
  padding: 5px 0 5px 60px !important;
  margin: 0;
}
.wc-block-product-categories-list--has-images .wc-block-product-categories-list-item__image {
  border: none;
}
.wc-block-product-categories-list:not(.wc-block-product-categories-list--has-images) .wc-block-product-categories-list-item {
  padding: 10px 0 !important;
}
.wc-block-product-categories-list .wc-block-product-categories-list-item {
  border-bottom: 1px solid #dbdbdb;
  margin: 0;
  text-align: right;
}
.wc-block-product-categories-list .wc-block-product-categories-list-item:after {
  content: "";
  clear: both;
  display: table;
}
.wc-block-product-categories-list .wc-block-product-categories-list-item a {
  float: left;
  color: #393939;
}

.wp-block-woocommerce-active-filters .wc-block-active-filters__list li:first-child .wc-block-active-filters__list-item-type {
  margin-bottom: 10px;
}
.wp-block-woocommerce-active-filters .wc-block-active-filters__list li {
  padding: 2px 0;
}
.wp-block-woocommerce-active-filters .wc-block-active-filters__list-item-name {
  font-weight: 400;
}
.wp-block-woocommerce-active-filters .wc-block-active-filters__list-item-remove {
  height: 22px;
  top: 7px;
}
.wp-block-woocommerce-active-filters .wc-block-active-filters__clear-all {
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 400;
}

.wp-block-woocommerce-product-search .wc-block-product-search__button {
  min-width: 36px;
}

.woocommerce-widget-layered-nav-list {
  position: relative;
}
.woocommerce-widget-layered-nav-list__item {
  position: relative;
}
.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term > a {
  padding: 0 0 0 28px !important;
  margin-left: -20px;
  font-weight: 400;
}
.woocommerce-widget-layered-nav-list__item a {
  color: #393939;
}
.woocommerce-widget-layered-nav-list__item--chosen:before {
  background: #e09d84;
}
.woocommerce-widget-layered-nav-list__item--chosen a::before {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  background-image: url("./images/cancel.svg");
  position: absolute;
  right: 0;
  color: transparent !important;
  top: 8px;
}
.woocommerce-widget-layered-nav-list__item span {
  font-weight: 400;
}
.woocommerce-widget-layered-nav-list__item:before {
  content: "";
  display: inline-block !important;
  height: 20px;
  width: 20px;
  border: 1px solid #959595;
  margin-bottom: -4px;
}

.wc-layered-nav-rating {
  text-align: right;
  line-height: 1;
  position: relative;
  padding-right: 20px;
}
.wc-layered-nav-rating a {
  color: #393939;
  font-weight: 400;
  font-size: 0.875rem;
}
.wc-layered-nav-rating .star-rating {
  color: #e09d84;
  float: left;
  font-size: 1rem;
}
.wc-layered-nav-rating.chosen .star-rating {
  color: #b37b4b;
}
.wc-layered-nav-rating.chosen a:after {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  background-image: url("./images/cancel.svg");
  position: absolute;
  right: 0;
  top: 4px;
}

.woocommerce-pagination .page-numbers li {
  display: inline-block;
  padding: 6px 17px;
}
.woocommerce-pagination .page-numbers li.dots {
  border: none;
  padding: 10px 8px;
}

.woocommerce-shop.archive .products {
  margin-top: 80px;
}

/*# sourceMappingURL=woocommerce.css.map */
