/* ------------------------------- Colours ---------------------------------------*/

$base-color: #393939;
$base-color-lighter: #4b4b4b;
$base-color-darker: #2f6b71;
// $secondary-color: #e09d84;
$secondary-color: #FC596B;
// $secondary-color-darker: #b37b4b;
$secondary-color-darker: #FC596B;
$darker-grey: #717171;
$medium-grey: #959595;
$light-grey: #b6b6b6;
$lighter-grey: #dbdbdb;
$very-light-grey: #f3f3f3;
$white: #ffffff;
$black: #000000;


/* ------------------------------- Margins and paddings  ---------------------------------------*/

$margin-updown-big: 2rem 0;
$margin-updown-small: 1rem 0;

/* ------------------------------- Animations  ---------------------------------------*/
//



/* ---------------------------------- woocommerce ------------------------------------ */

.storezz-product-vertical {
	.woocommerce-product-gallery {
		position: relative;
		padding-left: 120px;
		.flex-control-thumbs {
			display: block !important;
			margin: 0 !important;
			padding-right: 20px;
			position: absolute;
			top: 0;
			left: 0;
			width: 120px;
			height: 100%;
			overflow: hidden;
			li {
				width: 100% !important;
				padding-top: 0;
				padding-bottom: 15px;
			}
		}
	}
}


.widget_shopping_cart_content {
    li a:nt-child(2) {
      width: 50px;
      display: block;
      float: left;
    }
}

.woocommerce-mini-cart-item {
  text-align: right;
  position: relative;
  a:nth-of-type(2) {
    width: 100%;
    img {
      width: 80px;
      display: block;
      float: left;
    }
  }
  a.remove.remove_from_cart_button {
    position: absolute;
    right: 0;
  }
}

.woocommerce .woocommerce-breadcrumb {
  margin-left: calc( -50vw + 50% ) !important;
	margin-left: calc( -50vw + 50% ) !important;
	max-width: 100vw;
	width: 100vw;
	margin-bottom: 2rem;
	background-image: url( './images/breadcrumbs_bg.jpg' );
	background-size: cover;
	background-attachment: fixed;
  padding: 84px 0 !important;
  text-align: center;
  color: $base-color;
  a {
    color: $secondary-color-darker;
    margin: 0 5px;
  }
}

/* ------------------------------------ Products in Shop --------------------------------------------------- */


.woocommerce ul.products li.product {
  position: relative;
  overflow: hidden;
  padding-bottom: 30px;
	&:hover {
		.woosw-btn, .woosc-btn, .woosq-btn, .add_to_cart_button {
				transform:  translate(0, 0);
		}
		.onsale {
			transform: translate(0,30px);
		}
	}
  .star-rating {
    color: $secondary-color;
    font-weight: 300;
  }
  .woocommerce-loop-product__link {
		// transform:  translate(0, 0);
			// transform-style: preserve-3d;
    overflow: hidden;
    img {
      margin: 0;
      // transition: all 0.5s;
    }
    h2 {
      text-transform: uppercase;
      font-weight: 600;
      text-align: left;
    }
  }
  span.price {
    font-weight: 700;
    font-size: 1rem;
    * {
      color: $base-color;
    }
  }
  .onsale {
    height: auto;
    min-height: auto;
    background: $secondary-color;
    border-radius: 0;
    line-height: 1;
    padding: 8px 13px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
		position: absolute;
		top: 8px;
		left: 0;
		right: auto;
		transform: translate(0,0);
		transition: all 0.5s;
  }
	img.attachment-woocommerce_thumbnail {
		transition: all 0.6s;
		position: relative;
		z-index: -1;
	}
  &:hover {
		// transform-style: flat;
    img.attachment-woocommerce_thumbnail {
      transform: scale(0.95);
    }
  }
}

.wc-block-components-review-list-item__rating>.wc-block-components-review-list-item__rating__stars span:before  {
  color: $secondary-color;
}

.wc-block-components-price-slider__range-input-progress {

}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -3px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  background-color: $secondary-color;
  z-index: 100;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fdfdda;
}
.wc-block-components-price-slider__range-input-progress {
  --range-color: #e09d84;
  height: 6px;
}

.wc-block-components-price-slider__range-input-wrapper {
  height: 6px;
  box-shadow: none;
}

.wc-block-product-categories-list {
  &--has-images {
    .wc-block-product-categories-list-item {
           padding: 5px 0 5px 60px !important;
           margin: 0;
    }
    .wc-block-product-categories-list-item__image {
      border: none;
    }
  }
  &:not(.wc-block-product-categories-list--has-images) {
    .wc-block-product-categories-list-item {
           padding: 10px 0 !important;
    }
  }
	.wc-block-product-categories-list-item {
		 border-bottom: 1px solid $lighter-grey;
     margin: 0;
     font-weight: 400;
     text-align: right;
			&:after {
				content: "";
				clear: both;
				display: table;
			}
			a {
				float: left;
				color: $base-color;
			}
	 }
}

.wp-block-woocommerce-active-filters {
  .wc-block-active-filters__list li:first-child .wc-block-active-filters__list-item-type {
    margin-bottom: 10px;
  }
  .wc-block-active-filters__list li {
    padding: 2px 0;
  }
  .wc-block-active-filters__list-item-name {
    font-weight: 400;
  }
  .wc-block-active-filters__list-item-remove {
    height: 22px;
    top: 7px;
  }
  .wc-block-active-filters__clear-all {
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 400;
  }
}


.wp-block-woocommerce-product-search {
  .wc-block-product-search__button {
    min-width: 36px;
  }
}

.woocommerce-widget-layered-nav-list {
  position: relative;
  &__item {
    position: relative;
    &.wc-layered-nav-term > a {
      padding: 0 0 0 28px !important;
      margin-left: -20px;
      font-weight: 400;
    }
    a {
      color: $base-color;
    }
    &--chosen {
      &:before {
        background: $secondary-color;
      }
          a::before {
            content: "";
            display: block;
            height: 10px;
            width: 10px;
            background-image: url( './images/cancel.svg' );
            position: absolute;
            right:  0;
            color: transparent !important;
            top: 8px;
          }
    }
   span {
     font-weight: 400;
   }
    &:before {
      content: '';
      display: inline-block !important;
      height: 20px;
      width: 20px;
      border: 1px solid $medium-grey;
      margin-bottom: -4px;
    }
  }
}

.wc-layered-nav-rating {
  text-align: right;
  line-height: 1;
  position: relative;
  padding-right: 20px;
  a {
    color: $base-color;
    font-weight: 400;
    font-size: 0.875rem;
  }
  .star-rating {
    color: $secondary-color;
    float: left;
    font-size: 1rem;
  }
  &.chosen {
    .star-rating {
      color: $secondary-color-darker;
    }
    a:after {
      content: "";
      display: block;
      height: 10px;
      width: 10px;
      background-image: url( './images/cancel.svg' );
      position: absolute;
      right:  0;
      top: 4px;
    }
  }
}

.woocommerce-pagination {
  .page-numbers {
    border: none !important;
    li {
        padding: 6px 10px !important;
        border: 1px solid grey !important;
        margin-right: 5px !important;
        a {
          &:hover, &:active {
            background: none !important;
          }
        }
        &.dots {
          border: none;
          padding: 10px 8px;
        }
        span {
          &.current {
            background: none !important;
            color: $base-color !important;
          }
        }
    }
  }
}

.woocommerce #respond input#submit {
		box-sizing: border-box;
	  background-color: $base-color !important;
	  color: $white !important;
	  border: none;
	  font-weight: 400;
	  border-radius: 0;
	  height:37px;
	  line-height: 37px;
	  padding: 0 21px !important;
	  &:hover {
	    color: $white;
	    background: $base-color-lighter;
	  }
}

.woocommerce-shop.archive {
  .products {
    margin-top: 80px;
  }
}

.star-rating {
 color: $secondary-color;
}

.woocommerce-tabs {
  .tabs.wc-tabs {
    text-align: center;
    border-bottom: 1px solid $lighter-grey;
    &:before {
      content: none !important;
    }
    li {
      border: none !important;
      background-color: transparent !important;
      &:before, &:after {
        content: none !important;
      }
      &.active {
        border-bottom: 3px solid $secondary-color !important;
      }
      a {
              border-radius: 0 !important;
              border: none !important;
      }
    }
  }
  .commentlist {
    padding: 0;
  }
}


a.woocommerce-review-link {
  font-size: 0.875rem;
  color: $base-color;
}
.comment-respond .comment-reply-title {
	font-weight: 900;
	font-family: 'Montserrat', sans-serif;
}

.comment-form-rating {
	a {
		color: $secondary-color;
	}
}
.woocommerce #reviews {
  #comments {
    ol.commentlist li img.avatar {
      border: none;
      background: none;
      width: 60px;
    }
    .comment-text {
      margin: 0 0 0 70px !important;
    }
  }
}





.woocommerce-product-attributes, .woocommerce-product-attributes * {
  border: none !important;
	border-collapse: collapse;
}

.woocommerce-product-attributes tbody tr {
	border-bottom: 1px solid $darker-grey !important;
	// border-top: 1px solid $darker-grey !important;
}




/* ------------------------------------------------- Single Product ------------------------------------------------------ */

.single-product {
  .product_title.entry-title {
    font-weight: 900;
    text-align: left;
    margin-bottom: 0.5rem;
  }
  span.onsale {
    height: auto;
    min-height: auto;
    background-color: $secondary-color;
    border-radius: 0;
    line-height: 1;
    padding: 8px 13px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
  }
  div.product .woocommerce-product-rating {
    margin-bottom: 10px;
  }
  div.product p.price, div.product span.price {
      font-size: 1.5rem;
      font-family: 'Montserrat', sans-serif;
      color: $base-color;
      font-weight: 900;
      line-height: 1;
  }
  div.product form.cart table td {
    padding-left: 0 !important;
    padding-top: 0 !important;
    &.label {
      padding-bottom: 0 !important;
    }
  }
  .woocommerce-variation-price {
    margin-bottom: 10px;
  }
  .woocommerce-product-details__short-description {
    p {
      font-weight: 400;
      line-height: 1.7;
      margin-bottom: 15px;
    }
  }
  div.product .woocommerce-tabs ul.tabs li a {
      font-weight: 700;
      font-size: 1rem;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
  }
  .woocommerce-Tabs-panel h2 {

  }
	.up-sells, .related.products {
		h2 {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 16px;
		}
		.products {
			li {
				margin-bottom: 0 !important;
			}
		}
	}
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected, .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected:hover {
  box-shadow: 0 0 0 2px $secondary-color !important;
}

.woo-variation-swatches .variable-items-wrapper.button-variable-wrapper .variable-item:not(.radio-variable-item) {
	box-shadow: none !important;
	border-radius: 0 !important;
	border: 1px solid $darker-grey;
	padding: 10px 15px !important;
	height: auto;
}

.woocommerce-notices-wrapper, .woocommerce-MyAccount-content {
  .woocommerce-message, .woocommerce-info {
    &:before {
      color: $secondary-color;
    }
    border-top-color: $secondary-color;
  }
}

.woosw-btn, .woosc-btn, .woosq-btn, .product > .add_to_cart_button.button {
	color: $white !important;
	background-color: $base-color !important;
	border-radius: 0 !important;
	font-size: 0 !important;
	padding: 0 !important;
	height: 40px;
	width: 40px;
	text-align: center;
	position: absolute !important;
  right: 0px;
	transform:  translate(0, -238px);
	&:hover {
			background: $secondary-color !important;
			&:before {
				color: $white !important;
			}
	}
	&:before {
    font-weight: 400;
    font-size: 20px;
		line-height: 40px;
    font-family: "Fontawesome";
		margin-right: 0 !important;
	}
}

.woosw-btn {
	top: 20px;
	transition: all 0.3s;
	&:before {
		content: '\f004';
	}
	&.woosw-added {
		background: $secondary-color;
		color: $white;
		&:before {
			content: '\f004';
		}
	}
}

.woosc-btn {
		top: 65px;
		transition: all 0.5s;
	&:before {
		content: '\f074';
	}
	&.woosc-added {
		background: $secondary-color;
		color: $white;
		&:before {
			content: '\f074';
		}
	}
}

.woosq-btn {
		top: 110px;
			transition: all 0.7s;
	&:before {
		content: '\f002';
	}
}

.add_to_cart_button {
	top: 155px;
	padding: 0 !important;
	transition: all 0.7s;
	left: auto;
	&:before {
		content: '\f291';
	}
}

.added_to_cart.wc-forward {
	display: none !important;
}
